body {
  font-family: 'Poppins', sans-serif;
  background-color: #c69289;
}
.icons img {
  width: 30px;
}
/* Grid CSS */

#heroGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas:
  "featuredProduct";
}

#featuredProduct {
  grid-area: featuredProduct;
  background-image: url("/images/Background\ Photo.jpeg");
}

#secondaryitem {
  grid-area: secondaryitem;
  background-image: url("/images/My\ Photo.jpeg");
}



#headline {
  background-color: rgba(255, 255, 255, 0.694);
  border-bottom: 5px solid #715645;
  position: absolute;
  left: -20px;
  top: 100px;
  padding: 25px;
  max-width: 1000px;
  z-index: 100;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

/* Category Grid CSS */

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
  margin: 0 5%;
  display: grid;
  grid-template-rows: 350px 350px 350px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "part1 part2"
  "part1 part2"
  "part1 part3"
  "part1 part3"
  ;
}

#part1 {
  grid-area: part1;
  background-image: url("/images/My\ Photo.jpeg");

}
#part2 {
  grid-area: part2;
  background-image: url("/images/skill1.jpg");
}

#part3 {
  grid-area: part3;
  background-image: url("/images/skill2.jpeg");
}

#categoryGrid2 {
  margin: 0 5%;
  display: grid;
  grid-template-rows: 1000px 350px 1000px 350px 1000px 350px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "part4 part4 part4"
  "part4 part4 part4"
  "part5 part5 part5"
  "part5 part5 part5"
  "part6 part6 part6"
  "part6 part6 part6"
  ;
}
#part4 {
  grid-area: part4;
  background-image: url("/images/project1.jpg");
}

#part5 {
  grid-area: part5;
  background-image: url("/images/project2.jpg");
}

#part6 {
  grid-area: part6;
  background-image: url("/images/project3.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.categoryGridArea2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 20px;
  border-bottom: 5px solid #302924;
}


/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 50%;
  font-weight: 500;
}
#navBar p {
  font-size: 24px;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #f7efeb;
  font-weight: 700;
  font-size: 30px;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #c69289;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  margin: 0px 0px;
  color: #715645;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 1000px;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
 
}
